body{
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    font-size: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#main{
    margin-left: 18px;
    color: blueviolet;
}